.menu {
  -fx-padding: 10 0 10 0;
}

.menu .button {

}

.button {
  -fx-background-color: lightblue;
  -fx-border-color: lightblue;
  -fx-border-width: 2;
  -fx-border-radius: 3;
}

.progress-bar {
  -fx-background-color: forestgreen;
}